---
import Layout from "@layouts/Layout.astro";
import NavbarES from "@components/NavbarES.astro";
import Footer from "@components/Footer.astro";
---

<Layout title="contacto">
  <NavbarES />
  <div>
    <h1>contacto</h2>
    <!-- <p>you can contact me through my <a href="#">matrix</a> or <a href="#">email</a>, i prefer my <a href="#">PGP key</a> to be used if unencrypted methods of communication are used.</p> -->
    <h2>otros contactos</h2>
    <!-- <p><a href="#">matrix</a></p> -->
    <!-- <p><a href="#">discord</a></p> -->
    <!-- <p><a href="#">fediverse</a></p> -->
    <!-- <p><a href="#">bsky</a></p> -->
    <p><a href="https://github.com/pabloqpacin">github</a></p>
    <!-- <p><a href="#">reddit</a></p> -->
  </div>
  <Footer />
</Layout>