---
// import type { GetStaticPaths } from "astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

/*
export const getStaticPaths = (() => {
    
return [];
}) satisfies GetStaticPaths;
*/

export async function getStaticPaths(){
    const blogPost = await getCollection("blog");

    return blogPost.map((post) => ({
        params: { slug: post.slug },
        props: { post }
    }))
}

const { post } = Astro.props;

const { Content } = await post.render();

---


<Layout title={ post.data.title }>
    <main>
        <h1>{ post.data.title }</h1>
        <Content />
    </main>
</Layout>

<style>
    	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>

