---
import Layout from "@layouts/Layout.astro";
import Chatbot from "@components/Chatbot.svelte";
---

<Layout title="ChatBot (pqp)">
    <div class="mt-4">
        <Chatbot client:load />
    </div>
</Layout>

