---
import Navbar from "@components/Navbar.astro";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/fire.png" />
		<meta name="viewport" content="width=device-width" />
		<!-- <meta name="generator" content={Astro.generator} /> -->
		<title>pabloqpacin.com</title>
	</head>
	<body class="bg-black">
		<Navbar />
		<h1 class="p-20 font-bold text-white">pabloqpacin</h1>
	</body>
</html>
