---
import Button from "@components/Button.astro";
import CardServices from "@components/CardServices.astro";
import CardWorks from "@components/CardWorks.astro";
import Menu from "@components/Menu.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Button title="boton" />
		<CardServices title="titulo" desc="desc" />
		<CardWorks title="titulo" image="images/code1.jpg" desc="code img" />
		<Menu />
	</body>
</html>
