<!-- 
- button
- click to display EN or ES
- if clicked EN: /{currentURL} 
- if clicked ES: /es/{currentURL} 
-->


<button class="icon-button" id="langButton">
  <img src="internet.png">
</button>

<!-- Include JavaScript if needed -->
<script type="module">
  document.addEventListener('DOMContentLoaded', () => {
    document.getElementById('langButton').addEventListener('click', () => {
      alert('Prueba otra vez');
    });
  });
</script>
