---
import LangSwitch from "@components/LangSwitch.astro";
---
<nav class="nav">
  <a href="/en/">home</a>
  <a href="/en/blog">blog</a>
  <a href="/en/contact">contact</a>
  <LangSwitch is:inline />
</nav>
