---
import LangSwitch from "@components/LangSwitch.astro";
---
<nav class="nav">
  <a href="/es/">inicio</a>
  <a href="/es/blog">blog</a>
  <a href="/es/contacto">contacto</a>
  <LangSwitch is:inline />
</nav>
